<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="login-container">
        <div class="message-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-dismissible fade show" role="alert">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
        <div class="inputBox">
            <div class="form-group">
                <label for="username">Username :</label>
                <input placeholder="Write here..." type="text" class="form-control" id="username" name="username" required>
            </div>
        </div>
        <div class="inputBox">
            <div class="form-group">
                <label for="password">Password :</label>
                <input placeholder="Write here..." type="password" class="form-control" id="password" name="password" required>
            </div>
        </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <a href="{{ url_for('signup') }}" class="signup-link">New to our platform? Sign up</a>
    </div>
</body>
</html>
